<div class="container login-container">
    <div class="card card-login">
        <div class="card-body">
            <h3 class="text-center mb-4">Iniciar Sesión</h3>

            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Tu contraseña">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <hr>
                <p class="small mb-0">¿No tienes cuenta? <a routerLink="/registro" class="text-decoration-none fw-bold">Regístrate</a></p>
            </div>
        </div>
    </div>
</div>
